.about {
    margin-top: -25rem;
    padding-top: 30rem;

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5rem;

        @include respond(tab-land) {
            flex-direction: column;
        }
    }

    &__text {
        height: 400px;
        width: 400px;
        margin-right: 5rem;
        margin-top: 15rem;

        @include respond(tab-land) {
            height: auto;
            margin: 5rem 0 2rem 0;
        }
    }

    &__skills {
        height: 400px;
        width: 400px;
    }

    &__progress--box {
        text-align: left;
        width: 100%;
        background-color: $color-grey-light-2;
    }

    &__progress--1 {
        border-radius: 6px;
    }
}