.btn{
    &,
    &:link,
    &:visited {
        // text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: 1.6rem;

        //change on button 
        border:none;
        cursor: pointer;
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }

    &--white{
        background-color: $color-white;
        color:$color-primary-dark;
        text-transform: uppercase;

        &:hover{
        transform: scale(1.1);
        font-weight: 600;
        }


    }

    &__project{
        display: flex;
        margin-top: 3rem;
    }

    &--link{
        border-bottom: 1px solid #7ed56f;
        color: $color-primary;
        text-decoration: none;
        font-size: 1.5rem;
        display: inline-block;
        padding: 0rem 0.5rem;
        transition: all .4s;
       
        

        &:not(:last-child){
            margin-right: 5rem;
        }
        
        &:hover {
            background-color: $color-primary;
            color: $color-white;
            transform: translateY(-3px);
            box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
            &::after {
                transform: scaleX(1.4) scaleY(1.5);
                opacity: 0;
            }
        }

    }

    &__contact{
        border: 1px solid $color-white ;
        border-radius: 10rem;
        color: $color-white;
        text-decoration: none;
        font-size: 1.5rem;
        display: inline-block;
        font-weight: 600;
        padding: 0.5rem 2.4rem;
        transition: all .4s;

        &:hover {
            background-color: $color-white;
            color: $color-primary;
            cursor: pointer;
        }
    }
}