body {
    font-family: 'lato', sans-serif;
    line-height: 1.7;
    ;

}

.heading{
    font-size: 4rem;
}

.primary-heading{
        display: block;
        font-size: 2.5rem;
        line-height: 1.5;
        font-weight: 400;
        margin: 2rem 0;
        color: $color-white;
}

.secondary-heading{
    display: inline-block;
    color: $color-primary-dark;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
    margin: 1rem 0;
}


.secondary-heading--contact{
    display: inline-block;
    font-size: 5rem;
    line-height: 1.5;
    font-weight: 800;
    margin: 2rem 0;
}

.paragraph{
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
    margin: 2rem 0;
}
.paragraph-1{
    display: block;
    font-size: 1.5rem;
    line-height: 2.0;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1rem;
}

.tertairy-heading{
    display: block;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 600;
    margin-bottom: 0.3rem;

}